.block {
    text-align: center;
    width: 450px;
    padding: 50px;
    margin: 10px;
    font-size: 30px;
}

img {
    width: 80%;

}

.title-text{
    font-size: 40px;
}

.definer {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}